# Standard git attributes for binary files
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.svg binary
*.ico binary
*.mp4 binary
*.mov binary
*.avi binary
*.webm binary
*.mp3 binary
*.wav binary
*.flac binary
*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary
*.pdf binary
*.zip binary
*.rar binary
*.7z binary
